<!DOCTYPE html>
<html>
  <head>
    <title>Daftar Mahasiswa</title>
  </head>
  <body>
    <h1>Daftar Mahasiswa</h1>
    <table border="1">
      <tr>
        <th>NIM</th>
        <th>Nama</th>
        <th>Alamat</th>
      </tr>
      <% for(var i=0; i<mahasiswa.length; i++) { %>
      <tr>
        <td><%= mahasiswa[i].nim %></td>
        <td><%= mahasiswa[i].nama %></td>
        <td><%= mahasiswa[i].alamat %></td>
        
      </tr>
      <% } %>
    </table>
  </body>
</html>
